/* Estilos default para la página principal */

html {
  height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh !important; 
    min-width: 100vh !important;
    background-color: #142624;
  }

#nav-bar {
  background-color: #142624;
}

.no-padding{
  padding: 0% !important;
  margin: 0% !important;
}

#map {
  background-color: #5A6E73;
  height: 100%;
  position: relative;
}

/* Grid layout */

.nav-bar{
  grid-area: nav;
}

.map { 
  grid-area: map; 
}

.buttons { 
  grid-area: buttons; 
}

.container-principal{
  position: absolute;
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.15fr 1.85fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav     buttons    buttons"
    "nav     map        map"; 
}

/* Estilos para la barra de navegación y los submenús */

.custom-h2{
  padding: 1em;
  padding-bottom: 0.5em;
  font-size: 40px;
  color: #F2EBDC;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.button-nav{
  padding: 1em !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  border-radius: 20px !important;
  width: 10em !important;
  background-color: #959280 !important;
  border-style: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.button-nav:hover {
  background-color: #5A6E73 !important;
}

#button-volver-atras {
  background-color: #3C3B34 !important;
}


/* Estilos para la barra de los botones que indican si se consulta uno o dos países, el de ir a la data y el de reset */


#button-container {
  justify-content: center;
  background-color: rgba(197, 207, 215, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#un_pais, #dos_paises, #button_reset, #button_go{
  background-color: #878188;
  border: none;
}

#un_pais:hover, #dos_paises:hover{
  background-color: #573A5C;
  border: none;
}

#button_reset:hover{
  background-color: #994e4e;
  border: none;
}

#button_go:hover{
  background-color: #438863;
  border: none;
}