* {
    box-sizing: border-box;
}


.pagina_completa {
    display: flex;
    height: 100vh;
    width: 100vw;  
}

.menu {
    width: 33.33%;  
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
}

.menu h1 {
    text-align: center;
    color: #4a4a4a;
}

.menu h2 {
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 20px;
}

.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.opcion {
    background-color: #e0f7fa;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opcion:hover {
    background-color: #b2ebf2;
}

#map {
    width: 66.67%;  /* Dos tercios del ancho */
    height: 100%;
}

#world_map_explorer {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    font-size: 1rem;
}

.foliumtooltip table {
    margin: auto;
}

.foliumtooltip tr {
    text-align: left;
}

.foliumtooltip th {
    padding: 2px;
    padding-right: 8px;
}

.foliumpopup {
    margin: auto;
}

.foliumpopup table {
    margin: auto;
}

.foliumpopup tr {
    text-align: left;
}

.foliumpopup th {
    padding: 2px;
    padding-right: 8px;
}
